/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Oswald', sans-serif;
	background-color: #E3EFF9;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 140px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4B73B8;
}

space {
	font-size: 60px;
} 

/* Changing the background colour for the header */

b2 {
	background-color: #FDA5DE;
}

header {
  background-color: #E3EFF9;
}
	

h2 {
	background-color: #FDA5DE;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	color: #CC81B2
}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #4B73B8;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}


.btn-light {
	background-color: #FDA5DE;
	border-color: #FDA5DE;
	color: white;
}

.ourvision {
	background-color: #4B73B8;
	border-color: #4B73B8;
	color: white;
}
/* dit is voor de product html */

p1 {
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	color: #CC81B2;
	text-align: right;
	text-transform: uppercase;
}

h5 {
	ont-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: white;
}
/* dit is voor de ABOUT US html */
