/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');

/* Changing the main font and background colour */

body {
	font-family: 'Oswald', sans-serif;
	background-color: #fffcf8;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 140px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4B73B8;
}

space {
	font-size: 60px;
} 

/* Changing the background colour for the header */

header {
	background-color: #E3EFF9;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #4B73B8;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.btn-danger {
	background-color: #FDA5DE;
	border-color: #FDA5DE;
}

.btn-warning {
	background-color: #CC81B2;
	border-color: #CC81B2;
}
